;;
;; @__LICENSE_TEXT__@
;;
;; @category   ShortUrl
;; @package    Configuration
;; @author     Andreas Heigl<a.heigl@wdv.de>
;; @copyright  2011-@__YEAR__@ Andreas Heigl
;; @license    @__LICENSEURL__@ @__LICENSENAME__@
;; @version    @__VERSION__@
;; @since      26.05.2011
[production]
writer.0.type = stream
writer.0.url  = APPLICATION_PATH "/../log/%Y%m%d.log"
writer.0.filter.level = 3
writer.0.formatter.simple = "%timestamp% %priorityName% (%priority%): %message%" PHP_EOL

[development : production]

[testing : production]
